html {
    font-family: Corbel
}

.navbar-default{
    padding:1%;
}



.plotParent {
    overflow:auto;
    float:initial;    
}

.plotDiv{
    width:49%;
    float: left;   
}

.img_fluid{
    float: left;
    max-height:10%;
    max-width:10%;
}
